h2{
    color: crimson;
    text-decoration-line: underline;
}
img{
    width:130px;
    height:100px;
}
table{
    text-align:center;
    margin-left: 0%;
}
.clearance{
    border: 5px solid greenyellow ;
    background-color: lightgreen;
}
