<h2>No te podes perder estas delicias!!!</h2>
<table class="table">
    <thead>
        <tr>
            <th>Imagen</th>
            <th>Nombre</th>
            <th>Ingredientes</th>
            <th>Precio</th>
            <th>Stock</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><img [src]="food.imagen" [alt]="food.nombre"></td>
            <td>{{food.nombre}}</td>
            <td>{{food.ingredientes}}</td>
            <td>{{food.precio}}</td>
            <td>{{food.stock}}</td>
        </tr>
        <tr>
            <td><img [src]="food1.imagen" [alt]="food1.nombre"></td>
            <td>{{food1.nombre}}</td>
            <td>{{food1.ingredientes}}</td>
            <td>{{food1.precio}}</td>
            <td>{{food1.stock}}</td>
        </tr>
        <tr>
            <td><img [src]="food2.imagen" [alt]="food2.nombre"></td>
            <td>{{food2.nombre}}</td>
            <td>{{food2.ingredientes}}</td>
            <td>{{food2.precio}}</td>
            <td>{{food2.stock}}</td>
        </tr>
    </tbody>
</table>
